# Dependencies
node_modules
.pnp
.pnp.js

# Build outputs
dist
dist-electron
build

# Testing
coverage

# Editor directories and files
.vscode/*
!.vscode/extensions.json
.idea
.DS_Store
*.suo
*.ntvs*
*.njsproj
*.sln
*.sw?

# Debug logs
npm-debug.log*
yarn-debug.log*
yarn-error.log*
.pnpm-debug.log*

# Local env files
.env*.local
.env

# Electron-builder output
release

# Logs
logs
*.log

dist-ssr
*.local

# Test files
test-files/
